<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="数据驱动营销平台-艾特密"/>
    <meta name="description" content="数据驱动营销平台-艾特密"/>

    <title>数据驱动营销平台-艾特密</title>

    <script th:attr="src=@{/js/ie-emulation-modes-warning.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet"/>

    <script th:attr="src=@{/js/jquery/jquery.min.js?v=2.1.4}"></script>
    <script th:attr="src=@{/js/bootstrap/bootstrap.min.js?v=3.3.6}"></script>
    <script th:attr="src=@{/js/bootstrap/bootstrap-table.min.js}"></script>
    <script th:attr="src=@{/js/bootstrap/bootstrap-table-zh-CN.min.js}"></script>
    <script th:attr="src=@{/js/bootstrap/bootstrap-datepicker.min.js}"></script>
    <script th:attr="src=@{/js/bootstrap/bootstrap-select.min.js}"></script>
    <script th:attr="src=@{/js/bootstrap/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script th:attr="src=@{/js/ddmp/favorites.js}"></script>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap/bootstrap.min.css?v=3.3.6}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap/bootstrap-table.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap/bootstrap-datepicker3.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap/bootstrap-select.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>

    <style type="text/css">
        body{
            overflow: hidden !important;
        }
    </style>
</head>
<body>

<div class="panel-body">
    <table id="tb_departments"></table>
</div>
</body>
</html>
