<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="数据驱动营销平台-艾特密"/>
    <meta name="description" content="数据驱动营销平台-艾特密"/>

    <title>数据驱动营销平台-艾特密</title>

    <script th:attr="src=@{/js/ie-emulation-modes-warning.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet"/>

    <script th:attr="src=@{/js/jquery/jquery.min.js?v=2.1.4}"></script>
    <script th:attr="src=@{/js/bootstrap/bootstrap.min.js?v=3.3.6}"></script>
    <script th:attr="src=@{/js/bootstrap/bootstrap-table.min.js}"></script>
    <script th:attr="src=@{/js/bootstrap/bootstrap-table-zh-CN.min.js}"></script>
    <script th:attr="src=@{/js/bootstrap/bootstrap-datepicker.min.js}"></script>
    <script th:attr="src=@{/js/bootstrap/bootstrap-select.min.js}"></script>
    <script th:attr="src=@{/js/bootstrap/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script th:attr="src=@{/static/js/tags/searchHistory.js}"></script>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap/bootstrap.min.css?v=3.3.6}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap/bootstrap-table.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap/bootstrap-datepicker3.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap/bootstrap-select.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>

    <style type="text/css">
        body{
            overflow: hidden !important;
        }
    </style>
</head>
<body>

<div class="panel-body">
    <table id="tb_departments"></table>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    收藏搜索历史
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="favTitle" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="favTitle" name="favTitle" placeholder="请输标题">
                            <input type="text" id="favId" name="favId" hidden>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="submit" class="btn btn-primary" onclick="favSubmit()">
                    提交
                </button><span id="tip"> </span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script th:inline="javascript">
        /*<![CDATA[*/
        var value = /*[[${value}]]*/;
        $('#lunchBegins').selectpicker('val', value);
        /*]]>*/
</script>
</body>
</html>
